/* .nav-tabs .nav-link{
	color: #111217;
    background-color: #fdae1d;
    font-weight: bold;
    border: 2px solid #fdae1d;
    display: inline-table;
} */

.server-yg ,.nav-tabs .nav-link.active,.nav-link{
    color: #111217 !important;
    background-color: #fdae1d !important;
    font-weight: bold !important;
    border: 2px solid #fdae1d;
}